__pycache__
aws/
**/*.json
**/*.npy
**/*.txt
**/*.pickle
**/*.pt
**/*.log
**/*.sh
**/*.ipynb
data/
data_tokenized/
**/__pycache__
**/.DS_Store
node_modules/
**/fastsplit/target
**/rustbpe/target
*.egg-info*
**/data_tokenized
wandb/
checkpoints/
!experiments/**
